<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Anki Learning App</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/main">Main</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/decks">Decks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/deck/1">Deck</a> <!-- replace 1 with the id of the deck you want to link to -->
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

 <br/>
 <a routerLink="/">Home</a>

