<div style="display: flex;">
  <button *ngFor="let deck of decks" (click)="onDeckChange(deck.id)">{{ deck.title }}</button>
</div>
<div *ngIf="currentFlashcard">
  <div *ngIf="!isDeckFinished; else endOfDeck">
  <h2>Topic: {{ title }}</h2>
  <h5>Question {{ currentFlashcard.id }}:</h5>
  <h5>{{ currentFlashcard.question }}</h5>
  <button (click)="onAnswer()">Show Answer</button>
  <div *ngIf="showAnswer">
    <h5>Answer : </h5>
    <h5>{{ currentFlashcard.answer }}</h5>
    <button (click)="onScore(0)">Again</button>
    <button (click)="onScore(1)">Hard</button>
    <button (click)="onScore(2)">Good</button>
    <button (click)="onScore(3)">Easy</button>
  </div>
  <div *ngIf="scores">
    <h5>Scores: </h5>
    <div>Hard: {{ scores.hard }}</div>
    <div>Good: {{ scores.good }}</div>
    <div>Easy: {{ scores.easy }}</div>
  </div>
  <button (click)="previousCard()">Previous Card</button>
  <button (click)="nextCard()">Next Card</button>
  </div>
</div>
<ng-template #endOfDeck>
  <h2>END OF THE DECK</h2>
</ng-template>
